body {
    margin: 0;
    box-sizing: border-box;
}

.outer {
    width: 100vw;
    height: 2000px;
    background-color: rgb(240, 240, 240);

}
/* ============================================ */
/*                  컨텐츠                        */
/* ============================================ */

.container {
    width: 80vw;
    max-width:1300px;
    min-width:1150px;
    height:100%;
    margin: auto;
    padding-top: 190px;
    display: flex;
    position:relative;
}

.box {
    border: 1px solid rgba(180, 180, 180, 0.5);
    box-shadow: 0 10px 10px 0 rgba(128, 128, 128, 0.523);
}

/* ============================================ */
/*                  사이드바                        */
/* ============================================ */

.sidebar {
    width: 200px;
    height: 730px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
 	left:10%;
}
#sidebar {
    position: absolute;
}

.side-navi a {
    text-decoration: none;
    color: black;
}

.user-name {
    width: 80%;
    padding: 50px 0 0;
    line-height: 35px;  
    font-weight: bold;
}

.user-name>.user-txt1 {
    font-size: 20px;
    color: gray;
}

.user-name>.user-txt2 {
    font-size: 25px;
}

.side-navi {
    width: 80%;
    padding-top: 20px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.side-navi dt {
    padding: 10px 0;
    border-bottom: 1.5px solid lightgray;
}

.side-navi dt:first-child {
    border-top: 1.5px solid lightgray;
}

.side-navi dt:hover {
    color: black;
    font-weight: bold;
    background: linear-gradient(to right, #ffffff, #ffffff 50%, #f4f4f4ef 50%);
    background-size: 200% 100%;
    animation: gradient-animation 0.2s ease-out forwards;
}

@keyframes gradient-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

/* ============================================ */
/*                  사용자 컨텐츠1                       */
/* ============================================ */

.mypage-content {
    width: 40VW;
    height: 100%;
    position:absolute;
    right:10%;
}

.mypage-title {
    font-size: 30px;
    width: 100%;
    height: 70px;
    font-weight: bold;
}

.user-info {
    height: 200px;
}

.user-info1 {
    background-color: white;
    display: flex;
}

.info1-wrap {
    display: flex;
    /* width: 100%; */
    margin: 30px;
    justify-content: space-between;
}

.info1-txt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}

.info1-txt1 {
    font-size: 18px;
    font-weight: bold;
}

.info1-txt2 {
    padding-top: 20px;
    line-height: 30px;
    font-size: 14px;
    text-overflow:ellipsis;
    color: gray;
}

.info1-img {
    margin-left: 48px;
}

/* ============================================ */
/*                  시용자 컨텐츠2                        */
/* ============================================ */

.user-info2 {
    margin-top: 60px;
    height: 240px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-self: center;
}

.info2-wrap {
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top:60px;
}

.info2-title {
    font-size: 20px;
    font-weight: bold;
}

.info2-input {
	display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 40px;
}

/* ============================================ */
/*                  시용자 컨텐츠3                        */
/* ============================================ */

.user-info3 {
    margin-top: 60px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-self: center;
}

.info3-wrap {
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top:60px;
}

.info3-title {
    font-size: 20px;
    font-weight: bold;
}

.info3-input {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* ============================================ */
/*                  시용자 컨텐츠3                        */
/* ============================================ */

.user-info4 {
    margin-top: 60px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    
}

.info4-wrap {
    width: 90%;
    margin: auto;
    margin-top:60px;
    display: flex;
    flex-direction: column;
    align-self: center;
	position:relative;
}

.info4-title {
    font-size: 20px;
    font-weight: bold;
}

.info4-input {
    margin: 30px 20px;
	height: 450px;
	display:flex;
	
	
}

.idCheck {
	position:absolute !important;
	right:0 !important;
	bottom: 450px !important;
}

.add-form {
	margin: 30px 20px;
	height: 450px;
	display:flex;
}

.add {
	margin-top: 20px !important;
}

.add-form button {
	margin-top:50px;
}

.btn { 
	background-color: #999999 !important;
	color : #FFFFFF !important;
	width:150px;
	height:40px;
}


.btn-wrap {
	margin-top:30px;
	display:flex;
	justify-content:end;
}

.mypage-content .btn {
	color : rgb(240, 240, 240);
    background-color: rgb(153, 152, 152);
}



/* ============================================ */
/*                  푸터바                        */
/* ============================================ */
